<%- include("layouts/header")%> <%- include("layouts/nav")%>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="./img/Picture1.jpg"
        alt="Ryan"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Akhsan Thufail</h1>
      <p class="lead">Students | Programmer</p>
    </div>
  </div>
</div>

<%- include("layouts/footer")%>
